<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row bg-body-tertiary sticky-top">
        <div class="col-5">
          <h1 class="text-primary">MON LOGO</h1>
        </div>
        <div class="col">
          <ul class="nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PRODUIT
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/product/ajouter">Ajouter</a></li>
                <li><a class="dropdown-item" href="/product/list">Liste</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CATEGORY
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ajouter</a></li>
                <li><a class="dropdown-item" href="#">Liste</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CLIENT
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ajouter</a></li>
                <li><a class="dropdown-item" href="#">Liste</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- MON MAIN -->
      <div class="row">
        <div class="col">
          <div class="row"><ul><li><h4>Les 10 derniers Produits</h4></li><li><p>Récement ajouter</p></li></ul></div>

          <div class="row">

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>


          </div>

          <div class="row">

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

          </div>


          <div class="row">

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- FIN DE MON MAIN -->

      <!--MON FOOTER -->
      <div class="row text-white bg-black">
        <!--1er ROW-->
        <div class="row">
          <div class="col-6"><h1>MON LOGO</h1></div>

          <div class="col-6">
            <div class="row">
              <div class="col"><ul><li>Produit</li><li><a href="">Liste</a></li><li><a href="">Ajouter</a></li></ul></div>
              <div class="col"><ul><li>Category</li><li><a href="">Liste</a></li><li><a href="">Ajouter</a></li></ul></div>
              
            </div>
          </div>
        </div>
        <!--FIN 1er ROW-->
        <div class="row">
          <div class="col-6"><ul><li><a href="">Term of service</a></li><li><a href="">Privacy policy</a></li><li><a href="">Abidjan privacy Policy</a></li></ul></div>
          <div class="col-6"><p>© 2024 Mon site Worldwide, Inc., Mon site and the Mon site Logo are trademarks of Mon site Worldwide, Inc.</p></div>
        </div>
      </div>
      <!--FIN DU FOOTER-->

    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>